*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}
body{
  background-color: rgb(212, 231, 245);
}
.main{
  min-height:80vh;
}
.navbar-brand{
  margin: 0 50px;
}
@media(min-width:992px) {
  .container-fluid{
    position: relative;
  }
  .navbar-right{
    position: absolute;
    top: 0;
    right: 50px;
    /* margin-left: 550px; */
  }
  
}

.home_banner{
  padding: 25px 50px;
  margin: 20px 175px;
  border-radius: 15px;
  background-color: rgb(154,208,248);
}
.title{
  text-align:start;
  padding: 10px 0 0 20px;
  border-bottom: 3px solid rgb(154,208,248);
}
@media(max-width:992px) {
  .home_banner{
    margin: 20px 50px;
  }
}
.text-center{
  margin: 10px 0;
}
.thumbnail_bax{
  border-radius: 5px;
  padding: 5px;
  background-color: rgb(197, 226, 248);
  border: 1px solid rgb(202, 201, 201);
}
.btnaddtocart{
  padding: 2px 15px;
}
footer {
  padding: 10px 0;
  background-color: rgb(6,50,82);
  color:#fff;
  bottom: 0;
  width: 100%;
}